name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout the repo
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2️⃣ Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 3️⃣ Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4️⃣ Build and push Docker image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            vaishnavyejju/portfolio:latest
            vaishnavyejju/portfolio:${{ github.sha }}

      # 5️⃣ Github Config
      - name: Configure Git
        run: |
          git config user.name "vaishnavyejju"
          git config user.email "vaishnavyejju@gmail.com"

      # 5️⃣ Update Helm values.yaml with new image tag
      - name: Update Helm values.yaml
        run: |
          sed -i "s|tag:.*|tag: ${{ github.sha }}|" ./pipeline-for-portfolio/values.yaml
          
          if git diff --quiet; then
            echo "❌ No changes detected — tag not updated"
            exit 1
          fi
      
          git add ./pipeline-for-portfolio/values.yaml
          git commit -m "Update Helm values.yaml with new image tag"
          git push



      
